<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/unifor_bdu_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/unifor_bdu_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.BDU">
        <activity
            android:name=".livros.LivrosChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".pagamentos.CartaoDebActivity"
            android:exported="false" />
        <activity
            android:name=".pagamentos.SelecionarMetodoActivity"
            android:exported="false" />
        <activity
            android:name=".pagamentos.PixActivity"
            android:exported="false" />
        <activity
            android:name=".livros.VerTudoActivity"
            android:exported="false" />
        <activity
            android:name=".livros.ListaDesejosActivity"
            android:exported="false" />
        <activity
            android:name=".pagamentos.JurosMultaActivity"
            android:exported="false" />
        <activity
            android:name=".usuario.HistoricoDeLivrosActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".login.EsqueciSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".login.EmailRecuperacaoActivity"
            android:exported="false" />
        <activity
            android:name=".login.AutenticacaoActivity"
            android:exported="false" />
        <activity
            android:name=".usuario.MeuPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".usuario.InformacoesPessoaisActivity"
            android:exported="false" />
        <activity
            android:name=".usuario.MensagensActivity"
            android:exported="false" />
        <activity
            android:name=".usuario.PrivacidadeActivity"
            android:exported="false" />
        <activity
            android:name=".usuario.AlterarSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".livros.TelahomeActivity"
            android:exported="false" />
        <activity
            android:name=".livros.PaginaDoLivroActivity"
            android:exported="false" />
        <activity
            android:name=".livros.MeusLivrosActivity"
            android:exported="false" />
        <activity
            android:name=".livros.BuscaActivity"
            android:exported="false" />
        <activity
            android:name=".livros.ListadeEsperaActivity"
            android:exported="false" />
        <activity
            android:name=".pagamentos.BoletoActivity"
            android:exported="false" />
        <activity
            android:name=".pagamentos.CartaoCredActivity"
            android:exported="false" />
        <activity
            android:name=".suporte.TermosCondicoesActivity"
            android:exported="false" />
        <activity
            android:name=".suporte.ReportarProblemaActivity"
            android:exported="false" />
        <activity
            android:name=".suporte.ReportarProblema2Activity"
            android:exported="false" />
        <activity
            android:name=".adm.AdicionarLivroAdmActivity"
            android:exported="false" />
        <activity
            android:name=".adm.TelaPaginaDoLivroAdmActivity"
            android:exported="false" />
        <activity
            android:name=".adm.EditarLivroAdmActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.bdu.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>